{% extends 'base.html.twig' %}

{% block title %}Kategori index{% endblock %}

{% block body %}
    <h1>Kategori index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nama</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kategori in kategoris %}
            <tr>
                <td>{{ kategori.id }}</td>
                <td>{{ kategori.nama }}</td>
                <td>
                    <a href="{{ path('kategori_show', {'id': kategori.id}) }}">show</a>
                    <a href="{{ path('kategori_edit', {'id': kategori.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kategori_new') }}">Create new</a>
{% endblock %}
